body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSk_N86uTdb3o1RoByD49vyqeVQ5lpPYnaaQQ&s);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    background-color: #13990e;
}

.column {
    float: left;
    width: 20%;
    height: 1050px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 85%;
    text-align: center;
    align-content: end;
    font-size: 30px;
    color: white;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
    transition: background-size 0.3s ease;
}

.column:hover{
    background-size: 95%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}