body {
    background-color: #13990e;
}

header{
    align-items: center;
    align-content: center;
    justify-items: center;
}

#container {
    position: relative;
}

#CST {
    position: relative;
    z-index: 2;
    mix-blend-mode: multiply;
}

#background-imag {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
}