body {
    background-color: #13990e;
}

header {
    align-items: center;
    align-content: center;
    justify-items: center;
}

#container {
    position: relative;
}

#CST {
    position: relative;
    z-index: 2;
    mix-blend-mode: hard-light;
}

#CST_body {
    fill: #00ff00;
    opacity: 1;
}

#CST_head {
    fill: #009ad2;
}

#background-imag {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}