body {
    background-color: #13990e;
}

header {
    align-items: center;
    align-content: center;
    justify-items: center;
}

#container {
    transform: translate(0px, -400px);
    width: 100%;
    pointer-events: none;
}

#CST {
    transform: translate(200px, 0);
    position: relative;
    z-index: 2;
    mix-blend-mode: hard-light;
}

#g_body {
    fill: #e1e851;
    opacity: 1;
}

#g_head {
    fill: #e1e851;
    opacity: 1;
}

#g_pickguard {
    fill: #ffffff;
    opacity: 1;
}

#background-image {
    position: static;
    top: 0;
    width: auto;
    height: 100%;
}

.colors1 {
    display: flex;
    position: relative;
    transform: translate(0px, -675px);
}
.colors2 {
    display: flex;
    position: relative;
    transform: translate(0px, -675px);
}
.colors3 {
    display: flex;
    position: relative;
    transform: translate(0px, -675px);
}

.color1 {
    height: 36px;
    width: 36px;
    margin-left: 0.5em;
    border-radius: 18px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border: 2px solid #aaa;
    cursor: pointer;
}
.color2 {
    height: 36px;
    width: 36px;
    margin-left: 0.5em;
    border-radius: 18px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border: 2px solid #aaa;
    cursor: pointer;
}
.color3 {
    height: 36px;
    width: 36px;
    margin-left: 0.5em;
    border-radius: 18px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border: 2px solid #aaa;
    cursor: pointer;
}

h2 {
    position: relative;
    transform: translate(0px, -675px);
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-weight: normal;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}