body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYcb7JukAc5r3mrrxXueygdZRt-sBZrZbdgQ&s);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    background-color: #13990e;
}

header {
    align-items: center;
    align-content: center;
    justify-items: center;
}

#container {
    transform: translate(0px, -400px);
    width: 100%;
    pointer-events: none;
}

#CST {
    transform: translate(200px, 0);
    position: relative;
    z-index: 2;
    mix-blend-mode: normal;
}

#ST {
    transform: translate(202px, -48px);
    position: relative;
    z-index: 2;
    mix-blend-mode: normal;
}

#JA {
    transform: translate(202px, -48px);
    position: relative;
    z-index: 2;
    mix-blend-mode: normal;
}

#TE {
    transform: translate(190px, -63px);
    position: relative;
    z-index: 2;
    mix-blend-mode: normal;
}

#TL {
    transform: translate(191px, -57px);
    position: relative;
    z-index: 2;
    mix-blend-mode: normal;
}

#g_body {
    fill: #12c233;
    opacity: 0;
}

#g_head {
    fill: #12c233;
    opacity: 0;
}

#g_pickguard {
    fill: #12c233;
    opacity: 0;
}

#background-image {
    position: static;
    top: 0;
    width: auto;
    height: 100%;
}

.colors1 {
    display: flex;
    position: relative;
    transform: translate(0px, -675px);
}
.colors2 {
    display: flex;
    position: relative;
    transform: translate(0px, -675px);
}
.colors3 {
    display: flex;
    position: relative;
    transform: translate(0px, -675px);
}

.color1 {
    height: 36px;
    width: 36px;
    margin-left: 0.5em;
    border-radius: 18px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border: 2px solid #aaa;
    cursor: pointer;
}
.color2 {
    height: 36px;
    width: 36px;
    margin-left: 0.5em;
    border-radius: 18px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border: 2px solid #aaa;
    cursor: pointer;
}
.color3 {
    height: 36px;
    width: 36px;
    margin-left: 0.5em;
    border-radius: 18px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border: 2px solid #aaa;
    cursor: pointer;
}

h2 {
    position: relative;
    transform: translate(0px, -675px);
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-weight: normal;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}